@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 500px;
}

.cat-container {
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

h1, h2{
  margin: 0;
}